body {
  font-family: 'Raleway', sans-serif;
}

.solid {
  border: 5px solid red;
}
.border{
  border-style: solid solid;
  margin-bottom: 60px;
  border-radius: 8px;
  padding-left: 6px;
}
.insideBox{
  background-color: #F2F2F2;
  border: dotted;
  border-radius: 12px;
  padding-left: 6px;
  margin-bottom: 50px;
}

.roundCorners {
  border-style: dashed;
  border-radius: 90px;
  padding: 6px;
  margin-bottom: 10px
}
.bigContainer{
  margin: solid;
  background-color: teal;
}
.flexBox{
  border: solid;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex: wrap;
  flex-direction: row;
  flex-flow:row;
}

.item1{
  border: dotted;
  display: flex;
}
.item2{
  border: solid;
  display: flex;
}
.item3{
  border: inset;
  display: flex;
}
.bold{
font-weight: bold;
}
.italic{
  font-style: italic;
}

.icons{
  border: solid;
}

.boxes{
  border: dotted;
  padding: 20px;
  margin: 20px;
}
.header{
  padding: 10px;
  margin: 15px;
  border-style: inset;
  border-color: blue;
}
