body {
  font-family: 'Raleway', sans-serif;
}

.solid {
  border: 5px solid blue;
}
.border{
  border-style: solid solid;
  margin-bottom: 60px;
  border-radius: 8px;
  padding-left: 6px;
}
.insideBox{
  background-color: #F2F2F2;
  border: dotted;
  border-radius: 12px;
  padding-left: 6px;
  margin-bottom: 50px;
}

.roundCorners {
  border-style: dashed;
  border-radius: 90px;
  padding: 6px;
  margin-bottom: 10px
}
.bigContainer{
  margin: solid;
  background-color: teal;
}

.flexBox{
  border: solid;
  padding: 15px;
  margin: 15px;
  display: flex;
  background-color: coral;
  justify-content: space-between;
}
#menuBar{
  background-color: green;
}
/*.flexBox is the parent box, and dictates the form of the item within(flexBoxItem) how do I organise my drawer? */
/*responsiveness --> if screen + max-width is... then,*/
@media screen and (max-width: 500px) {
  .flexBox{
    flex-direction: column-reverse;
  }
}
.flexBoxItem{
  background-color: bisque;
  padding: 10px;
  margin: 20px;
  width: 200px;
}

.bold{
font-weight: bold;
}
.italic{
  font-style: italic;
}

.icons{
  border: solid;
}

.boxes{
  border: dotted;
  padding: 20px;
  margin: 20px;
}
.header{
  padding: 10px;
  margin: 15px;
  border-style: inset;
  border-color: blue;
}

#searchBar{
  display: flex;
  border-color: red blue; /* top and bottom the same, l&r the same*/
  border-style: solid dashed;
  border-width: 3px 10px;
}